div.DraftEditor-root {
  border: 1px solid rgba(0, 191, 191, 0.5);
  border-radius: 4px;
  height: 200px;
  width: 300px;
  overflow-y: auto;
}

div.DraftEditor-editorContainer1,
div.public-DraftEditor-content {
  height: 100%;
}
